@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 201 31% 26%;

    --card: 0 0% 100%;
    --card-foreground: 201 31% 26%;

    --popover: 0 0% 100%;
    --popover-foreground: 201 31% 26%;

    --primary: 201 31% 26%;
    --primary-foreground: 0 0% 100%;

    --secondary: 197 40% 39%;
    --secondary-foreground: 0 0% 100%;

    --muted: 62 24% 65%;
    --muted-foreground: 201 31% 26%;

    --accent: 49 85% 26%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 62 24% 65%;
    --input: 62 24% 65%;
    --ring: 49 85% 26%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 201 31% 26%;
    --foreground: 0 0% 100%;

    --card: 201 31% 26%;
    --card-foreground: 0 0% 100%;

    --popover: 201 31% 26%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 201 31% 26%;

    --secondary: 197 40% 39%;
    --secondary-foreground: 0 0% 100%;

    --muted: 62 24% 65%;
    --muted-foreground: 0 0% 100%;

    --accent: 49 85% 26%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 197 40% 39%;
    --input: 197 40% 39%;
    --ring: 62 24% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}